
@media (max-width: 48em) {

    .blog-banner.blog-media {

        .container {
            padding: 0;
        }

        padding-top: 20rem;
        margin-bottom: 9rem;


        .blog-banner__inner {
            height: auto;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            border-radius: 7rem;
            padding-right: 3rem;
            padding-left: 3rem;
            padding-bottom: 5.9rem;
            position: relative;
        }


        .blog-banner__left {
            width: 100%;
            padding-top: 10rem;
        }

        .blog-banner__title {
            width: 100%;
            font-size: 5.6rem;
        }

        .blog-banner__subtitle {
            width: 100%;
            font-size: 3rem;
            margin-bottom: 7.4rem;
        }

        &__down {
            display: flex;
            align-items: center;
        }
        &__down-texts {
            padding-left: 3rem;
        }

        .blog-banner__a-button {
            width: 7.8rem;
            height: 14.2rem;
            flex-shrink: 0;
        }

        .blog-banner__services {
            font-size: 3.2rem;
            line-height: 2.9rem;
            color: #FFFFFF;
            position: relative;
            padding-bottom: 1.2rem;
            &::after {
                content: "";
                display: inline-block;
                width: 3.3rem;
                height: 0.2rem;
                background-color: #FFFFFF;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }


        .blog-banner__all-services {
            font-size: 2.8rem;
            line-height: 2.5rem;
            color: #FFC2D1;
            padding-top: 1.3rem;
        }
        .blog-banner__mid {
            width: 100%;
            padding-top: 4rem;
        }
        &__img-1 {
            top: 6.4rem;
            width: 47rem;
            right: 0rem;
        }


        .blog-banner__right {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 4rem;
        }


        .blog-banner__stat {
            text-align: left;
            padding-right: 4rem;
            position: relative;
            margin-bottom: 6rem;
            &:last-child {
                margin-bottom: 0;
            }
            &::after {
                content: "";
                display: inline-block;
                width: 1rem;
                height: 1rem;
                background-color: #FFFFFF;
                position: absolute;
                right: auto;
                left: -1rem;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 100%;
            }
        }
        .blog-banner__key {
            font-size: 4.8rem;
        }

        .blog-banner__value {
            font-size: 3rem;
        }
        &__pic{
          position: absolute;
          right: -7rem;
          width: 60.3rem;
          height: 32.6rem;
          transform: rotate(206deg) scale(1, -1);
          top: -11rem;
          img{
            
          }
        }
          &__pic2{
            bottom: -13rem;
            left: 20rem;
            position: absolute;
            width: 47.7rem;
            height: 26rem;
            transform: rotate(189deg);
        }
       
            }


}


